<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="footer">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
		    <div class="row">
		      <div class="col-12 col-md">
		        <img class="mb-2" src="/img/dodoDAL.png" alt="" width="150" height="190">
		        <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
		      </div>
		      <div class="col-6 col-md">
		        <h5>Using Tools</h5>
		        <ul class="list-unstyled text-small">
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Javascript</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Bootstrap</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Java</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Spring Boot</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Thymeleaf</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Mybatis & Oracle DB</a></li>
		        </ul>
		      </div>
		      <div class="col-6 col-md">
		        <h5>Need to Study</h5>
		        <ul class="list-unstyled text-small">
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >Java & Spring</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >개인 프로젝트</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >CS 공부</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >알고리즘 & 자료구조</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >리눅스 / 서버</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" >웹 배포 / 운영</a></li>
		        </ul>
		      </div>
		      <div class="col-6 col-md">
		        <h5>About Me</h5>
		        <ul class="list-unstyled text-small">
		          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Github</a></li>
		          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">blog</a></li>
		        </ul>
		      </div>
		    </div>
	  </footer>
    </div>
    
</html>
