<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <nav class="navbar navbar-expand-lg bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="/">DoDoBird World</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Menu
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="/board?currentPage=1&cntPerPage=8&pageSize=10">게시판</a></li>
		            <li><a class="dropdown-item" href="/photos">사진첩</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" href="/">Something else here</a></li>
		          </ul>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link disabled">Chat</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link disabled">Introduce</a>
		        </li>
		      </ul>
		      <th:block th:if="${id!=null}">
		      <a class="navbar-brand" th:href="@{/user/{id}( id = ${id} )}">
			      <img src="/img/dodoDAL.png" alt="Logo" width="60" height="44" class="d-inline-block align-text-top">
			      <span th:text="${nickname}" style="vertical-align: middle; line-height: 60px;"></span>
			   </a>
			   <a class="navbar-brand" th:href="@{/logout}">
			      <span th:text="Logout" ></span>
			   </a>
		      </th:block>
		      <th:block th:unless="${id!=null}">
		      <a class="navbar-brand" th:href="@{/login}">
		      	  <img src="/img/bros_blank1.jpg" alt="Logo" width="60" height="44" class="d-inline-block align-text-top">	
			      <span th:text="로그인" style="vertical-align: middle; line-height: 60px; margin-top:10px;"></span>
			   </a>
			   <a class="navbar-brand" th:href="@{/userSignUp}">
			      <span th:text="회원가입" style="margin-top:1px;"></span>
			   </a>
		      </th:block>
		    </div>
		  </div>
		</nav>
    </div>
</html>
