@charset "UTF-8";
body, html {
    height: 100%;
}

table {
	width: 100%;
	border: 1px solid #444444;
	text-align: center;
}
th, td {
	border: 1px solid #444444;
}

/* .header { */
/*     background-color: Gray; */
/*     height: 20% */
/* } */

/* .content { */
/*     height:400px; */
/* } */

/* .footer { */
/*     background-color: yellow; */
/* } */
