@charset "UTF-8";
body, html {
    height: 100%;
}

/* .header { */
/*     background-color: Gray; */
/*     height: 20% */
/* } */

/* .content { */
/*     height:400px; */
/* } */

/* .footer { */
/*     background-color: yellow; */
/* } */
