<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodo.dodobirdWorld.board.mapper.BoardListMapper">
	<select id="boardList" parameterType="Map" resultType="com.dodo.dodobirdWorld.board.vo.BoardVO">
		SELECT B.RNUM, B.BOARD_ID, B.WRITER, B.TITLE , B.CONTENT, B.INSERT_DATE, B.UPDATE_DATE, B.DELETE_DATE, B.HIT, B.NICKNAME
		FROM ( 
			    SELECT ROWNUM AS RNUM, A.BOARD_ID, A.WRITER, A.TITLE , A.CONTENT, A.INSERT_DATE, A.UPDATE_DATE, A.DELETE_DATE, A.HIT, A.NICKNAME
			    FROM (
			        SELECT C.BOARD_ID, C.WRITER, C.TITLE , C.CONTENT, C.INSERT_DATE, C.UPDATE_DATE, C.DELETE_DATE, C.HIT, D.NICKNAME
			        FROM BOARD C
			        JOIN USERS D
			        ON C.writer = D.user_no
			        <where>
						<if test="search =='글쓴이'">AND C.WRITER LIKE '%' ||#{keyword}|| '%'</if>
						<if test="search =='제목'">AND C.TITLE LIKE '%' ||#{keyword}|| '%'</if>
						<if test="search =='내용'">AND C.CONTENT LIKE '%' ||#{keyword}|| '%'</if>
						<if test="'true' =='true'">AND C.delete_date is null</if>
					</where>
			        ORDER BY INSERT_DATE DESC) A
			     <![CDATA[    
		        WHERE ROWNUM <= #{lastRecordIndex}
		         ]]> 
		      ) B
		WHERE B.RNUM >= #{firstRecordIndex}
		
	</select>
	
	<select id="boardOne" parameterType="String" resultType="com.dodo.dodobirdWorld.board.vo.BoardVO">
		SELECT * 
		FROM BOARD
		WHERE BOARD_ID = #{board_id}
	</select>
	
	<insert id="boardInsert" parameterType="com.dodo.dodobirdWorld.board.vo.BoardVO">
		insert into board values (
			BOARD_ID_SEQ.nextval,
			#{writer},
			#{title},
			#{content},
			sysdate,
			sysdate,
			null,
			0
		)
	</insert>
	
	<update id="boardUpdate" parameterType="com.dodo.dodobirdWorld.board.vo.BoardVO">
		update board set
            writer = #{writer},
            title = #{title},
            content = #{content},
            update_date = sysdate
            where board_id = #{board_id}
	</update>
	
	<!-- 	조회수 +1 하여 저장 -->
	<update id="hitUpdate" parameterType="String">
		update board set
			hit = hit + 1
			where board_id = #{board_id}
	</update>
	
	<!-- 논리 삭제 -->
	<update id="boardDelete" parameterType="String">
		update board set
			delete_date =sysdate
		where board_id = #{board_id}
	</update>
	
	<!-- counting for paging -->
	<select id="boardListCount" parameterType="map" resultType="int">
		select count(*) from board
		<where>
			<if test="search =='글쓴이'">AND WRITER LIKE '%' ||#{keyword}|| '%'</if>
			<if test="search =='제목'">AND TITLE LIKE '%' ||#{keyword}|| '%'</if>
			<if test="search =='내용'">AND CONTENT LIKE '%' ||#{keyword}|| '%'</if>
		</where>
	</select>
	
	<!-- 	댓글/대댓글 select -->
	<select id="commentList" parameterType="String" resultType="com.dodo.dodobirdWorld.board.vo.BoardCommentVO">
		SELECT board_id
		       ,LEVEL COMMENTLEVEL
		       ,COMMENT_ID 
		       ,PARENT_COMMENT_ID 
		       ,CASE WHEN LEVEL =1 THEN '' ELSE LPAD('└',LEVEL-1,'└') END ||
		        CASE WHEN delete_date is not null THEN '***삭제된 댓글입니다***' ELSE CONTENT END CONTENT
		       ,WRITER
		       ,insert_DATE
		       ,UPDATE_DATE
		       ,DELETE_DATE
		       ,id
		       ,nickname     
        
		FROM (SELECT a.board_id
			        ,a.COMMENT_ID 
			        ,a.PARENT_COMMENT_ID 
			        ,a.content
			        ,a.WRITER
			        ,a.insert_DATE
			        ,a.UPDATE_DATE
			        ,a.DELETE_DATE
			        ,b.id
			        ,b.nickname  
		      FROM board_comment a
		      join users b
		      	on a.writer = b.user_no
		      WHERE a.board_id = #{board_id}
		      ) 
		START WITH  PARENT_COMMENT_ID = 0
		CONNECT BY PRIOR COMMENT_ID = PARENT_COMMENT_ID 
		ORDER SIBLINGS BY COMMENT_ID
	</select>
	
	<!-- 	댓글 등록 -->
	<insert id="commentInsert" parameterType="com.dodo.dodobirdWorld.board.vo.BoardCommentVO">
		insert into board_comment values (
			#{board_id},
			COMMENT_ID_SEQ.nextval,
			#{parent_comment_id},
			#{content},
			#{writer},
			sysdate,
			null,
			null
			
		)
	</insert>
	
	<!-- 	댓글 수정 -->
	<update id="commentUpdate" parameterType="com.dodo.dodobirdWorld.board.vo.BoardCommentVO">
		update board_comment set
			content = #{content},
			update_date = sysdate
		where comment_id = #{comment_id}
	</update>
	
	<!-- 	댓글 논리삭제 -->
	<update id="commentDelete" parameterType="String">
		update board_comment set
			delete_date = sysdate
		where comment_id = #{comment_id}
	</update>
</mapper>