<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodo.dodobirdWorld.login.mapper.LoginMapper">
	<!-- 	유저 정보 + 권한 정보 select -->
	<select id="loadUserInfo" parameterType="String" resultType="com.dodo.dodobirdWorld.users.vo.UsersVO">
			SELECT *
			FROM USERS
			WHERE ID = #{username}
				AND DELETE_DATE IS NULL
	</select>
	
</mapper>