<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>글 상세보기</title>
</head>
<body>
	<div layout:fragment="content" class="content">
	
		<div class="card">
		  <div class="card-header">
		    <span>BID : </span>
		    <span th:text="${board.board_id}" id="boardId">boardId</span>
		    <span>글쓴이 : </span>
		    <span th:text="${board.writer}" class="card-title">writer</span>
		  </div>
		  <div class="card-body">
		  	<div>
			    <h5 th:text="${board.title}" class="card-title">title</h5>
			    <p style="text-align:right; margin-right:2%;">조회수 : <span th:text="${board.hit}" class="card-title">hit</span></p>
			    <hr>
			    <textarea cols="50" rows="15" th:text="${board.content}" class="card-text" readonly>content</textarea>
		  	</div>
		  	<section class="mb-5">
			    <div class="card bg-light">
			        <div class="card-body">
			            <!-- Comment form-->
			            <form class="mb-4"><textarea id="commentInput" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
			            <th:block th:if="${userno!=null}">
						  	<a th:onclick="commentInsert()" class="btn btn-primary">댓글 작성</a>
						  	<hr>
					  	</th:block>
			            <!-- Comment with nested comments-->
			            <div th:each="comment : ${comments}"  class="d-flex mb-4">
			                <!-- Parent comment-->
			                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
			                <div class="ms-3">
			                    <div th:text="|${comment.nickname} (${comment.id})|" class="fw-bold">Commenter Name</div>
			                    <input type="hidden" th:value="${comment.comment_id}" id="comment_id">
			                    <p th:text="${comment.content}"></p>
			                    <th:block th:if="${comment.delete_date == null}">
			                    	<a th:var="${comment.comment_id}" th:onclick="commentUpdate(this.getAttribute('var'))">수정</a>
			   	            	    <a th:var="${comment.comment_id}" th:onclick="commentDelete(this.getAttribute('var'))">삭제</a>
			                    </th:block>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
		  </div>
		  <div class="card-footer row">
		  	<div class="col">
			    <p th:text="'등록일자 : '+${#dates.format(board.insert_date, 'yyyy-MM-dd')}" class="card-text">insertDate</p>
			    <span th:text="'수정일자 : '+${#dates.format(board.update_date, 'yyyy-MM-dd')}" class="card-text">updateDate</span>
		  	</div>
		  	<div class="col" style="text-align:right; margin-top:14px;">
		  	<th:block th:if="${userno==board.writer}">
			  	<a th:href="@{/boardWrite/{board_id}(board_id = ${board.board_id})}" class="btn btn-primary">수정</a>
			  	<a th:onclick="boardDelete()" class="btn btn-primary">삭제</a>
		  	</th:block>
			  	<a th:href="@{/board}" class="btn btn-primary">목록으로</a>
		  	</div>
		  </div>
		</div>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
			function boardDelete() {
				let board_id = document.getElementById('boardId').innerText;
				let url = '/board/'+board_id;
				console.log(url);
				// 삭제 여부 마지막으로 확인받기
				Swal.fire({
		            title: '글을 삭제하시겠습니까?',
		            text: "한번 지우면 다시 되돌릴 수 없습니다.",
		            icon: 'warning',
		            showCancelButton: true,
		            confirmButtonColor: '#3085d6',
		            cancelButtonColor: '#d33',
		            confirmButtonText: '삭제',
		            cancelButtonText: '취소'
		        }).then((result) => {
		            if (result.isConfirmed) {
		            	fetch(url, {
							method : 'DELETE',
							headers : {
								"Content-Type": "application/json",
							},
							body : JSON.stringify(board_id),
						})
							.then(res => res.json())
							.then(data => {
								if(parseInt(data)>0){
									Swal.fire({
					                    showConfirmButton: false,
					                    title: '삭제 완료',
					                    icon: 'success'
									});
									setTimeout(() => {
					        			window.location.replace('/board'); // 아예 새 페이지로 변경 : history에 남지않아 뒤로가기 막기 가능.
									}, 1500);
								}
							})
		            }
		        })
			}
			
			function commentInsert() { // 코멘트 insert ajax
				let commentInput = document.getElementById('commentInput').value;
				if(commentInput==null || commentInput=='') {
					Swal.fire({
	                    showConfirmButton: false,
	                    title: '수정 실패',
	                    text : '댓글 내용을 올바르게 적으세요',
	                    icon: 'error'
					});
					return;
				}
				let board_id = document.getElementById('boardId').innerText;
				let parent_comment_id = '0'; // 일단 대댓글 기능 막기
				let userno = /*[[${userno}]]*/ 'default';
				// comment 객체에 담아 보내기.
				let comment = {
						content : commentInput, // 댓글 내용
						board_id : board_id, // 게시물 번호
						writer : userno, // 작성자 유저ID넘버
						parent_comment_id : parent_comment_id // 대댓글이면 부모 댓글 적기
				}
				
				fetch('/comment', {
					method : 'POST',
					headers : {
						"Content-Type": "application/json",
					},
					body : JSON.stringify(comment),
				})
					.then(res => res.json())
					.then(data => {
						if(parseInt(data)>0){
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '등록 완료',
			                    icon: 'success'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id); // 아예 새 페이지로 변경 : history에 남지않아 뒤로가기 막기 가능.
							}, 1500);
						} else {
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '등록 실패',
			                    icon: 'error'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id); 
							}, 1000);
						}
					})
			}
			
			function commentUpdate(comment_id) {
				let board_id = document.getElementById('boardId').innerText;
				let content = prompt("댓글 내용을 수정하세요(임시 에디터)", "");
				if(content==null || content=='') {
					Swal.fire({
	                    showConfirmButton: false,
	                    title: '수정 실패',
	                    text : '댓글 내용을 올바르게 적으세요',
	                    icon: 'error'
					});
					return;
				}
				let comment = {
						comment_id : comment_id,
						content : content
				};
				
				fetch('/comment/'+comment_id, {
					method : 'PUT',
					headers : {
						"Content-Type": "application/json",
					},
					body : JSON.stringify(comment),
				})
					.then(res => res.json())
					.then(data => {
						if(parseInt(data)>0){
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '수정 완료',
			                    icon: 'success'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id); // 아예 새 페이지로 변경 : history에 남지않아 뒤로가기 막기 가능.
							}, 1500);
						} else {
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '수정 실패',
			                    icon: 'error'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id); 
							}, 1000);
						}
					})
			}
			
			function commentDelete(comment_id){
				let board_id = document.getElementById('boardId').innerText;
				
				fetch('/comment/'+comment_id, {
					method : 'DELETE',
					headers : {
						"Content-Type": "application/json",
					},
					body : JSON.stringify(comment_id),
				})
					.then(res => res.json())
					.then(data => {
						if(parseInt(data)>0){
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '삭제 완료',
			                    icon: 'success'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id);
							}, 1500);
						} else {
							Swal.fire({
			                    showConfirmButton: false,
			                    title: '삭제 실패',
			                    icon: 'error'
							});
							setTimeout(() => {
			        			window.location.replace('/board/'+board_id); 
							}, 1000);
						}
					})
			}
		/*]]>*/
		</script>
			
	</div>
</body>
</html>