<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>게시판</title>
</head>
<body>
	<div layout:fragment="content" class="content">
		<h1>게시판</h1>
		<table border="1">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일자</th>
			</tr>
			<tr>
				<td>1</td>
				<td>골격만 만들어놈</td>
				<td>도도새</td>
				<td>2022-10-05</td>
			</tr>
		</table>
		<button onclick="toHome()">홈으로</button>
		
		<script th:inline="javascript">
			function toHome(){
				window.location.replace('/')
			}
		</script>
	</div>
</body>
</html>