<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<title>게시판</title>
</head>
<body>
	<div layout:fragment="content" class="content">
		<div>
			<h1>게시판</h1>
		</div>
		<div class="row">
			<div th:each=" board : ${list}" class="card" style="width: 400px; margin:1% 2% 1% 2%;">
			  <div class="card-header">
			    <span>BID : </span>
			    <span th:text="${board.board_id}">boardId</span>
			    <span>글쓴이 : </span>
			    <span th:text="${board.writer}" class="card-title">writer</span>
			  </div>
			  <div class="card-body">
			    <h5 th:text="${board.title}" class="card-title">title</h5>
			    <p th:text="${board.content}" class="card-text">content</p>
			    <p th:text="${#dates.format(board.insert_date, 'yyyy-MM-dd')}" class="card-text">insertDate</p>
			    <a th:href="@{/board/board/{board_id}(board_id = ${board.board_id})}" class="btn btn-primary">글 상세보기</a>
			  </div>
			</div>
		</div>
		
		<script th:inline="javascript">
		</script>
	</div>
</body>
</html>